<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Sign In Page
    </title>
</head>

<body>
    <!-- SECCION ONE-->
    <div class="container-fluid" id="about">
        <form action="http://localhost:3000/signin" method="POST">
            <input 
            type="text" 
            id="user"
            name="user"
            placeholder="user"
            >
            <input 
            id="password"
            name="password"
            type="password" 
            placeholder="password"
            >
            <button type="submit">
                Sign In
            </button>
        </form>
    </div>
</body>

</html>